{% extends 'base.html.twig'%}

{% block body %}
 <div class="logUp">
        <a href="http://localhost:8000"><img src="{{ asset('Imagenes/logo.svg') }}"></a>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Email</th>
                <th scope="col">Horario</th>
                <th scope="col">Ciudad</th>
            </tr>
        </thead>
        {% for usuarios in usuarios %}
        <tbody>
            <tr>
                <td>{{usuarios.id}}</td>
                <td>{{usuarios.nombre}}</td>
                <td>{{usuarios.apellidos}}</td>
                <td>{{usuarios.email}}</td>
                <td>{{usuarios.horario}}</td>
                <td>{{usuarios.ciudad}}</td>
            </tr>
        </tbody>
         {% endfor %}
    </table>
 
       
    
{% endblock %}
