{% extends 'maleteo.html.twig'%}


{% block formulario %}
    
    <div id="msg" class="mensaje-alert textLarge">
        <h4>¡Gracias!</h4>
        <p>Tu formulario ha sido enviado correctamente, pronto serás un guardián de maleteo</p>
    </div>


{% endblock %}


