/*
.formulario{
  .msg{
    display: none;
  }

  &.sent{
  &.msg
    display: block;
  }
  &.formulario{
    display: none;
  }
}
*/

.mensaje-alert{
  display: block;
}

.mensaje{
  display: block;
}

.sent{
  display: none;
}

